<template>
  <main class="container">

    <div class="alert alert-danger" v-if="error">
      <h4>Attention!</h4>
      <p class="mb-0">{{ error }}</p>
    </div>

    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">Game Settings</h4>
      </div>

      <form @submit.prevent="onSettingsSubmit" class="mb-3">
        
        <fieldset class="mb-3 mt-3">
          <label for="amount" class="form-label">Number of questions</label>
          <input type="number" class="form-control" v-model="selectedAmount" />
        </fieldset>

        <fieldset class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" v-model="selectedCategory">
            <option value="">Any category</option>
            <option
              v-for="category of categories"
              :value="category"
              :key="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </fieldset>

        <fieldset class="mb-3">
          <label for="category" class="form-label">Difficulty</label>
          <select class="form-select" v-model="selectedDifficulty">
            <option value="">Any difficulty</option>
            <option
              v-for="difficulty of difficulties"
              :value="difficulty"
              :key="difficulty.id"
            >
              {{ difficulty.name }}
            </option>
          </select>
        </fieldset>

        <fieldset class="mb-3">
          <label for="category" class="form-label">Type</label>
          <select class="form-select" v-model="selectedType">
            <option value="">Any type</option>
            <option v-for="type of types" :value="type" :key="type.id">
              {{ type.name }}
            </option>
          </select>
        </fieldset>

        <button type="submit" class="btn btn-lg btn-primary">START GAME</button>
      </form>

    </div>

  </main>
</template>

<script>
import { STORAGE_KEY_SETTINGS } from "@/consts/storageKeys"

export default {
  name: "TriviaSettings",
  
  created() {
    const settings = JSON.parse(localStorage.getItem(STORAGE_KEY_SETTINGS));

    if (settings !== null) {
      this.selectedAmount = settings.amount,
      this.selectedCategory = settings.category,
      this.selectedDifficulty = settings.difficulty,
      this.selectedType = settings.type
    }
  },
  
  methods: {
    onSettingsSubmit() {
      this.error = "";

      if (!(this.selectedAmount > 0 && this.selectedAmount <= 50)) {
        this.error = "Amount must be between 1 and 50.";
        return;
      }

      // try to save settings to local storage
      try {
        localStorage.setItem(
          STORAGE_KEY_SETTINGS,
          JSON.stringify({
            amount: this.selectedAmount,
            category: this.selectedCategory,
            difficulty: this.selectedDifficulty,
            type: this.selectedType,
          })
        );
      } 
      catch (error) {
        this.error = error.message
      }

      // Redirect
      this.$router.push("/questions");
    },
  },
  data() {
    return {
      error: "",
      selectedCategory: "",
      selectedDifficulty: "",
      selectedType: "",
      selectedAmount: 10,
      categories: [
        { id: "27", name: "Animals" },
        { id: "25", name: "Art" },
        { id: "26", name: "Celebrities" },
        { id: "16", name: "Entertainment: Board Games" },
        { id: "10", name: "Entertainment: Books" },
        { id: "32", name: "Entertainment: Cartoon &amp; Animations" },
        { id: "29", name: "Entertainment: Comics" },
        { id: "11", name: "Entertainment: Film" },
        { id: "31", name: "Entertainment: Japanese Anime &amp; Manga" },
        { id: "12", name: "Entertainment: Music" },
        { id: "13", name: "Entertainment: Musicals &amp; Theatres" },
        { id: "14", name: "Entertainment: Television" },
        { id: "15", name: "Entertainment: Video Games" },
        { id: "22", name: "Geography" },
        { id: "9",  name: "General Knowledge" },
        { id: "23", name: "History" },
        { id: "20", name: "Mythology" },
        { id: "24", name: "Politics" },
        { id: "17", name: "Science & Nature" },
        { id: "18", name: "Science: Computers" },
        { id: "30", name: "Science: Gadgets" },
        { id: "19", name: "Science: Mathematics" },
        { id: "21", name: "Sports" },
        { id: "28", name: "Vehicles" }
      ],
      difficulties: [
        { id: "easy", name: "Easy" },
        { id: "medium", name: "Medium" },
        { id: "hard", name: "Hard" },
      ],
      types: [
        { id: "multiple", name: "Multiple Choice" },
        { id: "boolean", name: "True / False" },
      ],
    };
  }

};
</script>


<style scoped>
fieldset, button {
  margin-left: 1em;
  margin-right: 1em;
}
</style>