<template>

  <main class="container">

    <div class="alert alert-danger" v-if="error">
      <h4>Error: Questions could not be loaded from API!</h4>
      <p class="mb-0">{{ error }}</p>
    </div>

    <div v-show="questions.length > 0">

      <div class="card mb-4 rounded-3 shadow-sm border-primary" v-for="question of questions" :key="question.question" v-show="question.id == activeQuestion"> 
  
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" v-html="question.question">{{question.question}}</h4>
        </div>
        <div class="card-body">
          <div class="list-group list-group-checkable">
              <div v-for="answer of getAnswers(question)" :key="answer.value">
                <input class="list-group-item-check" type="radio" :value="answer" :name="['question'+question.id]" v-model="selectedAnswer" :id="answer" />

                <label class="list-group-item py-3" :for="answer">
                  <template v-if="answer == 'True'">Yes</template>
                  <template v-else-if="answer == 'False'">No</template>
                  <template v-else>{{answer}}</template>
                </label>
              </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="w-100 btn btn-lg btn-secondary" @click="onStop()">Stop</button> 
            </div>
            <div class="col">
              <button class="w-100 btn btn-lg btn-primary" @click="onNextQuestion()" v-text="(activeQuestion < questions.length) ? 'Next question' : 'Finish & show Results'"></button>&nbsp;
            </div>
          </div>
        </div>
      
      </div>

    </div>

  </main>

</template>

<script>
import { STORAGE_KEY_SETTINGS } from "@/consts/storageKeys"
import { STORAGE_KEY_RESULT } from "@/consts/storageKeys"
import { getQuestions } from "@/api/triviaAPI"

export default {
  name: "TriviaQuestions",

  // load settings (category, difficulty etc.) from local storage
  async created() {
    const settings = JSON.parse(localStorage.getItem(STORAGE_KEY_SETTINGS))

    // if there are no settings redirect to start page
    if (settings === null) {
      this.$router.push("/")
      return;
    }

    // try to load questions from API
    try {
        this.questions = await getQuestions(settings.amount, settings.category.id, settings.difficulty.id, settings.type.id);
    } 
    catch (error) {
      this.error = error.message
    }
  },
  data() {
    return {
      selectedAnswer: "",
      activeQuestion: 1, // counter for current question
      error: "",
      questions: [],
      score: 0,
      sorted: false
    };
  },
  methods: {
    // stop button redirects to Start
    onStop() {
        this.$router.push("/")
    },
    // get multiple answers in random order 
    getAnswers(question) {
      if (!this.sorted) { // sort only one time for each question
        if (question.type == "multiple") {
          question.answers.sort(() => Math.random() - 0.5)
        }
        else {
          question.answers.sort().reverse() // sort True, False
        }
        this.sorted = true
      }
      return question.answers
    },
    onNextQuestion() {
        this.sorted = false

        // save answer in question array
        this.questions[this.activeQuestion-1].givenAnswer = this.selectedAnswer
        this.selectedAnswer = '' // reset answer for next question

        // is this the last question?
        if (this.activeQuestion < this.questions.length)
        {
            this.activeQuestion++
        }
        else {
            
            // save question array with given answers in local storage
            localStorage.setItem(
                STORAGE_KEY_RESULT,
                JSON.stringify(this.questions)
            );

            // redirect to result overview
            this.$router.push("/result");
        }
    }
  }
};
</script>


<style scoped>
.container {
    transition: 1s;
    left: 0;
}

.list-group {
  width: auto;
  max-width: 100%;
  margin: 1rem auto;
}

.form-check-input:checked + .form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  pointer-events: none;
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
</style>