<template>
  <main class="container">

    <div class="alert alert-danger" v-if="error">
      <h4>Error: Answers could not be loaded from local storage!</h4>
      <p class="mb-0">{{ error }}</p>
    </div>

    <div class="card mb-4 rounded-3 shadow-sm border-primary" v-show="results.length > 0">

      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">Result: You have answered <strong>{{correctAnswerCount}}</strong> question(s) out of <strong>{{results.length}}</strong> correctly.</h4>
      </div>
      
      <h2 class="mb-2 ms-4">Your score is: <strong>{{score}}</strong></h2>
    
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">Answers</h4>
      </div>
    
      <div class="card-body">
    
        <div
          class="container"
          v-for="question of results"
          :key="question.question"
        >
          <div class="mb-2 list-group-item">
            <h4 v-html="question.question">{{ question.question }}</h4>

            <div>
              <span
                v-text="isAnswerCorrect(question) ? 'Correct' : 'Incorrect'"
              ></span>
              answer: &ldquo;<span
                :class="isAnswerCorrect(question) ? 'correct' : 'incorrect'"
                v-html="question.givenAnswer"
              >
                {{ question.givenAnswer }} </span
              >&rdquo;
            </div>

            <div v-if="!isAnswerCorrect(question)">
              <label>Correct answer: </label>
              &ldquo;<span v-html="question.correct_answer">
                {{ question.correct_answer }} </span
              >&rdquo;
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="w-100 btn btn-lg btn-secondary" @click="onBackToStart">Back to start</button>
          </div>
          <div class="col">
            <button class="w-100 btn btn-lg btn-primary" @click="onReplay">Replay</button>
          </div>
        </div>

      </div>
    </div>

  </main>
</template>

<script>
import { STORAGE_KEY_RESULT } from "@/consts/storageKeys"

export default {
  name: "TriviaResult",

  created() {
    this.error = ""

    // try to load quetions & answers from local storage
    try {
      this.results = JSON.parse(localStorage.getItem(STORAGE_KEY_RESULT));
    } 
    catch (error) {
      this.error = error.message
      return
    }

    // calculate correct answers
    this.correctAnswerCount = 0
    for (let index = 0; index < this.results.length; index++) {
        if (isAnswerCorrect(this.results[index])) {
            this.correctAnswerCount++
        }
    }
  },
  data() {
    return {
      results: [],
      correctAnswerCount: 0,
    };
  },
  methods: {
    isAnswerCorrect: function (question) {
      return isAnswerCorrect(question)
    },
    onReplay: function() {
        this.$router.push("/questions");
    },
    onBackToStart: function() {
        this.$router.push("/start");
    }
  },
  computed: {
    score: function() {
        return this.correctAnswerCount*10
    }
  }
};

function isAnswerCorrect(question) {
      return (question.correct_answer === question.givenAnswer)
}
</script>

<style scoped>
.correct {
  color: green;
}
.incorrect {
  color: red;
}
</style>