<template>
  <div id="app" class="container">
    <div class="jumbotron ms-1" @click="gotoStart">
      <div class="container">
        <h1 class="display-1 pull-right">TRIVIA GAME</h1>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
    methods: {
    gotoStart() {
      // Redirect
      this.$router.push("/");
    },
  },
}
</script>

<style>
.container {
  max-width: 960px;
}
.jumbotron {
  cursor: pointer;
}
body {
   background-image: url('~@/assets/blue-abstract-bokeh-lights2.jpg');
}
h1 {
  color:darkblue;
  white-space: nowrap;
  font-weight: 700 !important;
  
  background-repeat: no-repeat;
  background-image: url('~@/assets/question_answer_black_24dp.svg');
  background-size: calc(3rem + 4.5vw);
  background-position: center left; 
  padding-left: calc(3rem + 6vw);
  padding-bottom: 1.5rem;
  
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 960px;
}
</style>
